<footer class="container">
    <ul class="list-inline">
        <li><a class="white" href="">Privacy Policy</a></li>
        <li><a class="white" href="">Terms of Use</a></li>
        <li><a class="white" href="">Cookies</a></li>
        <li class="white dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"> <!--Removed href="#"-->
                &copy CDocherty 2017
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="white" href="https://www.mrisoftware.com/">MRI</a></li>
                <li><a class="white" href="https://www.realassetmgt.co.uk">Real Asset Management</a></li>
                <li><a href="https://www.twitter.com/misscdocherty">Twitter</a></li>
                <li><a class="white" href="https://www.linkedin.com/in/misscdocherty">Linkedin</a></li>
            </ul>
        </li>
    </ul>
</footer>
