<ul class="list-inline">
    <li><a href="#/signIn"><button class="ngViewbtn">Sign In</button></a></li>
    <li><a href="#/register"><button class="ngViewbtn">Sign Up</button></a></li>
</ul>

<div class="divContainer">
    <div class="formCentered">
        <input type="text" required autocomplete="off" name="email" placeholder="Email" class="userInput">
        <br />
        <input type="password" name="password" placeholder="Password" maxlength="10" class="userInput">
        <br />
        <input type="submit" value="Go" class="goButton" />

    </div>


</div>


